In [2]:
# first we import numpy and pandas
import numpy as np
import pandas as pd

# now we will import train.csv as data_train
data_train = pd.read_csv('train.csv')

In [3]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [141]:
# now we will decice target_var and learning_var
# we are taking Sex as target bcz our main goal is to learn the procedure
learning_var = data_train[['Sex','Pclass']]
target_var = data_train['Survived']

In [142]:
# now we will check null values in Sex
learning_var.isnull().sum()
# so it is clear that there is no null value

Sex       0
Pclass    0
dtype: int64

In [143]:
# lets check Sex 
# learning_var.unique()
# we cannot put string in machince leaning/
# we will convert 0 as male and 1 as female
dict_ = {'male' : 0, 'female' : 1}
learning_var['Sex'] = learning_var['Sex'].apply( lambda x:dict_[x])

C:\Users\ABC\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [144]:
#we can see our fucntion worked
learning_var.head()

   Sex  Pclass
0    0       3
1    1       1
2    1       3
3    1       1
4    0       3

In [145]:
from sklearn.model_selection import train_test_split
# we imported the above to start machine leaning

In [146]:
learn_train,learn_test,target_train,target_test = train_test_split( learning_var, target_var, test_size = 0.33, random_state = 42)

In [147]:
# now we gonna use linear svc
from sklearn import svm
clf = svm.LinearSVC()

In [148]:
clf.fit(learn_train,target_train)
#here we have successfully train the data

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [149]:
# some pridictions
clf.predict(learn_test[1:5])

array([0, 0, 1, 1], dtype=int64)

In [150]:
# check score or accuracy of model
clf.score(learn_test, target_test)

0.7966101694915254

In [140]:
data_test = pd.read_csv('test.csv')
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [43]:
test_data = data_test[['Sex','Pclass']]

In [45]:
#first we conver male as 0 and female as 1 
test_data['Sex'] = test_data['Sex'].apply( lambda x:dict_[x])

C:\Users\ABC\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
test_data.describe()

              Sex      Pclass
count  418.000000  418.000000
mean     0.363636    2.265550
std      0.481622    0.841838
min      0.000000    1.000000
25%      0.000000    1.000000
50%      0.000000    3.000000
75%      1.000000    3.000000
max      1.000000    3.000000

In [78]:
prediction = clf.predict(test_data)
# this is the pridicted value
# how we will change 0 to male and 1 to female
# cannot do this with numpy so first we will apply column bind
Survived = pd.Series(prediction)

In [79]:
d2 = {0 : 'male', 1 : 'female'}
Survivied = s.apply( lambda x:d2[x])

KeyError: 'male'

In [80]:
Survived.head()

0    0
1    1
2    0
3    0
4    1
dtype: int64

In [67]:
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [88]:
v = pd.concat([data_test['PassengerId'], Survived], axis = 1)

In [91]:
v.columns = ['PassengerId', 'Survived']

In [109]:
v.to_csv('prediction.csv', index = False)